<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kelvin || blog</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/2be268ca3f.js" crossorigin="anonymous"></script>
</head>
<body>


    <header>
        <!----------------------------*************** Profile Section***************------------------------------- -->
        <div class="profile-picture"></div>
        <div class="name-badge">
            <h2 class="profile-name">Kelvin Ngwenya</h2>
            <img src="images/verified-badge-svgrepo-com.svg" alt="background" class="verified">
            <p class="verified-text">Verified</p>
        </div>
        <p class="profile-tag">@mrafrica</p>
        <!-------------------------************** Navigation Menu****************************------------------------->
        <div class="themes">
            <i id="toggle-light" class="fa-solid fa-cloud-moon"></i>
            <i id="toggle-dark" class="fa-regular fa-sun"></i>
        </div>
        <nav>
            <ul class="nav-menu">
                <li><i class="fa-solid fa-house nav-icons"></i><a href="index.html">Home</a></li>
                <li><i class="fa-regular fa-circle-user nav-icons"></i><a href="about-me.html">About</a></li>
                <li><i class="fa-regular fa-trophy nav-icons"></i><a href="achievements.html">Achievements</a></li>
                <li><i class="fa-solid fa-list-check nav-icons"></i><a href="projects.html">Projects</a></li>
                <li><i class="fa-regular fa-address-book nav-icons"></i><a href="contact.html">Contact</a></li>
                <li><i class="fa-solid fa-blog nav-icons"></i><a href="blog.html">Blog</a></li>
                <li><i class="fa-regular fa-comment-dots nav-icons"></i><a href="chat-room.html">Chatroom</a></li>
            </ul>
            <!---------------******mobile drop down**********************************------------------->
            <ul class="mobile-container">
                <li class="mobile-dropdown">
                    <div class="dropdown-bars">
                        <span class="horizontal-bars"></span>
                        <span class="horizontal-bars"></span>
                        <span class="horizontal-bars"></span>
                    </div>
                </li>
                <li class="mobile-dropdown-links">
                    <a href="#about">About</a>
                    <a href="#projects">Projects</a>
                    <a href="#contact">Contact</a>
                    <a href="#blog">Blog</a>
                    <a href="#resume">Resume</a>
                    <a href="#testimonials">Testimonials</a>
                    <a href="#chatroom">Chatroom</a>
                </li>
            </ul>
            <footer class="site-footer">
                <p>&copy; 2025 Kedza Ngwenya. All rights reserved.</p>
            </footer>

        </nav>
    </header>
    <main>
        <h1 style="font-size: 3.25rem;
    line-height: 1.7rem;
    color:var(--headings30-2);
    font-weight: 900;
    font-family: var(--font-family);
    text-align: center; 
    position: 
    absolute; 
    top: 50%;
    left: 50%; ">Coming Soon</h1>
    </main>
    <script src="{% static 'chatapp/js/config.js' %}"></script>
    
</body>
</html>